@font-face {
  font-family: TitleFont;
  src: url(Fonts/Trajan\ Pro\ Regular.ttf);
}

@font-face {
  font-family: Main;
  src: url(Fonts/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf);
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: Main;
}

main {
  padding-top: 150px;
  background-color: #111111;
}

.website-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

.website-content::-webkit-scrollbar {
  display: none;
}

/* Header */
.LeftContent {
  display: flex;
  align-items: center;
  margin-left: 0;
  height: 100%;
}

.logo {
  font-size: 50px;
  line-height: 70px;
}

.header {
  background-color: rgb(26, 26, 26);
  color: white;
  padding: 5px;
  height: 100px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.TopContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: TitleFont;
  font-size: 70px;
  position: relative;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

.CenterContent {
  display: flex;
  gap: 0px;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-left: -7px;
}

.nav-button {
  margin-top: 3px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-weight: 500;
  border: none;
  height: 70px;
  width: 200px;
  font-size: 25px;
  line-height: 70px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: color 0.3s ease, background-color 0.3s ease;
  font-family: Main;
}

.nav-button:hover {
  color: rgb(126, 126, 126);
}

.RightContent {
  display: none;
}

/* Albums and EPs */
.album-grid, .extended-play {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 0 auto;
  padding: 20px;
  background-color: #111111;
}

.album {
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 98%;
  aspect-ratio: 1 / 1;
  margin: 1%;
}

.album img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.hidden-content{
  transition: opacity 0.3s ease, transform 0.3s ease;
  filter: none;
}

/* Small image in the center */
.album .center-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 50%;
  height: 50%;
  z-index: 2;
  opacity: 0;
}

.center-link1, .center-link2 {
  align-self: center;
  z-index: 3;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.center-link1 {
  top: 68%;
  left: 33%;
}


.center-link2 {
  top: 67.4%;
  left: 54.5%;
}

.center-link1 img, .center-link2 img {
  height: auto;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0.7;
  transform: scale(1);
}

.center-link1 img {
  width: 52px;
}

.center-link2 img {
  width: 60px;
}

.album:hover img {
  filter: blur(10px) brightness(0.75);
  transform: scale(1.1);
}

.album:hover .center-image {
  transform: translate(-50%, -70%) scale(1);
  opacity: 1;
  filter: none !important;
}

.album:hover .center-link1{
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.album:hover .center-link2{
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.album:hover .center-link1 img, .center-link2 img{
  filter: none !important;
}

.album h3 {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

h4 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 60px;
  color: #f0f0f0;
  background-color: #111111;
  margin: 20px 0;
  text-align: left;
  padding-left: 1.8%;
  font-weight: 500;
}

.gap {
  height: 50px;
}

/* Footer */
.footer-bar {
  background-color: rgb(26, 26, 26);
  color: rgb(128, 128, 128);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
}

.footer-content .social-icons {
  display: flex;
  gap: 50px;
}

.footer-content .social-icons img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0.7;
}

.scroll-top:hover {
  background-color: rgba(200, 200, 200, 0.2);
}